SZJ_orarend.dtd

<!DOCTYPE orarend SYSTEM "SZJ_orarend.xml">

<!ELEMENT ora (targy,idopont,helyszin,oktato,szak)>
    <!ELEMENT targy (#PCDATA)
    <!ELEMENT idopont (nap,tol,ig)
        <!ELEMENT nap (#PCDATA)
        <!ELEMENT tol (#PCDATA)
        <!ELEMENT ig (#PCDATA)
    <!ELEMENT helyszin (#PCDATA)
    <!ELEMENT oktato (#PCDATA)
    <!ELEMENT szak (#PCDATA)